@model ProductAddViewModel
<form method="post" asp-controller="Product" asp-action="Create" enctype="multipart/form-data">


    <div class="form-group row">
        <h2 class="text-info pl-3">ثبت محصول جدید</h2>
    </div>

    <div class="row">
        <div class="col-8">
            <div class="form-group row p-3">
                <div class="col-4">
                    <label asp-for="Name"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Name" class="form-control" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>

            </div>


            <div class="form-group row p-3">
                <div class="col-4">
                    <label asp-for="CategoryId"></label>
                </div>
                <div class="col-8">
                    <select id="select" asp-for="CategoryId" class="form-control" asp-items="@ViewBag.Categories">
                        <option disabled selected>-- Select Category --</option>
                    </select>
                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                </div>
            </div>
            <div id="tag"></div>

            <div class="form-group row p-3">
                <div class="col-4">
                    <label asp-for="BrandId"></label>
                </div>
                <div class="col-8">
                    <select asp-for="BrandId" class="form-control" asp-items="@ViewBag.Brands">
                        <option disabled selected>-- Select Brand --</option>
                    </select>
                    <span asp-validation-for="BrandId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row p-3">
                <div class="col-4">
                    <label asp-for="ModelId"></label>
                </div>
                <div class="col-8">
                    <select asp-for="ModelId" class="form-control" asp-items="@ViewBag.Models">
                        <option disabled selected>-- Select Model --</option>
                    </select>
                    <span asp-validation-for="ModelId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row p-3">
                <div class="col-4">
                    <label asp-for="Weight"></label>
                </div>
                <div class="col-8">
                    <input type="number" asp-for="Weight" class="form-control" />
                    <span asp-validation-for="Weight" class="text-danger"></span>
                </div>

            </div>
            <div class="form-group row p-3">
                <div class="col-4">
                    <label asp-for="Description"></label>
                </div>
                <div class="col-8">
                    <textarea asp-for="Description" class="form-control summernote"></textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>

            </div>

            <div class="form-group row p-3">
                <div class="col-4">
                    <label asp-for="Count"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Count" class="form-control" />
                    <span asp-validation-for="Count" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row p-3">
                <div class="col-4">
                    <label asp-for="OperatorId"></label>
                </div>
                <div class="col-8">
                    <select asp-for="OperatorId" class="form-control" asp-items="@ViewBag.Operators">
                        <option disabled selected>-- Select Operator --</option>
                    </select>
                    <span asp-validation-for="OperatorId" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group row p-3">
                <div class="col-4">
                    <label asp-for="ColorIds"></label>
                </div>
                <div class="col-8">
                    <select asp-for="ColorIds" class="select-chosen form-select" asp-items="@ViewBag.Colors" multiple>
                        <option disabled selected>انتخاب رنگ ها</option>
                    </select>
                    <span asp-validation-for="ColorIds" class="text-danger"></span>
                </div>
            </div>



            <div class="form-group row p-3">
                <div class="col-4">
                    <label asp-for="Price"></label>
                </div>
                <div class="col-8">
                    <input asp-for="Price" class="form-control" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>


            <div class="form-group row p-3">
                <div class="col-4">
                    عکس محصول
                </div>
                <div class="col-8">
                    <input class="form-control" name="files" multiple accept="image/png, image/jpeg" type="file" />
                </div>
            </div>

            <div class="form-group my-2">
                <div class="form-check form-switch form-check-inline">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" asp-for="IsActive" checked>
                    <label class="form-check-label" for="flexSwitchCheckChecked">فعال</label>
                </div>

                <div class="form-check form-switch form-check-inline">
                    <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" asp-for="IsShowPrice" checked>
                    <label class="form-check-label" for="flexSwitchCheckChecked">قیمت نمایش داده شود</label>
                </div>
            </div>
            <div class="form-group row p-3">
                <div class="col-8 offset-4 row">
                    <div class="col">
                        <input type="submit" value="ذخیره" class="btn btn-primary w-100" />
                    </div>
                    <div class="col">
                        <a asp-controller="Category" asp-action="Index" class="btn btn-secondary"><i class="fas fa-sign-out-alt">بازگشت به لیست</i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</form>

@section Scripts{
<partial name="_ValidationScriptsPartial" />
<script>

        $(function() {
    $(".select-chosen").chosen({rtl: true});
        });


</script>
}
@section script{
<script>
    $("#select").change(function () {
        var id = + $(this).val();
        search(id);
    });
    function search(id) {
        $("#tag").append("<partial name='GetTag'/>");
        $.ajax({
            type: "Get",
            url: "/Admin/Product/GetTag/"+id,
            data: {}
        }).done(function (result) {
            $("#tag").html(result);
        });
    }
</script>
}

