@model List<List<App.Domain.Core.Product.Dtos.TagDto>>
@foreach (var item in ViewBag.inputTags)
{
    <div class="form-group row p-3">
        <div class="col-4">
            <label for="input">@item.Name</label>
        </div>
        <div class="col-8">
            <input id="input" name=@(item.Name) class="form-control" />
        </div>
    </div>
}

@foreach (var item in ViewBag.selectListTags)
{
    <div class="form-group row p-3">
        <div class="col-4">
            <p>@item[0].TagCategoryName</p>
        </div>
        <div class="col-8">
            <select class="form-control">
                <option disabled selected>انتخاب @item[0].TagCategoryName</option>
                @foreach (var tag in item)
                {
                    <option value="@tag.Id">@tag.Name</option>
                }
            </select>
        </div>
    </div>
}