@{
    int i = 0;
}
@foreach (var item in ViewBag.inputTags)
{
    <div class="form-group row p-3">
        <div class="col-4">
            <label for="input">@item.Name</label>
        </div>
        <div class="col-8">
            <input type="hidden" name="input[@i].Key" value="@item.Id" />
            <input class="form-control" name="input[@i].Value"/>
        </div>
    </div>
    i++;
}
@foreach (var item in ViewBag.selectListTags)
{
    if (item[0].IsMult)
    {
        <div class="form-group row p-3">
            <div class="col-4">
                <p>@item[0].TagCategoryName</p>
            </div>
            <div class="col-8">
                <select name="tags" data-placeholder="انتخاب @item[0].TagCategoryName" multiple class="chosen-select form-select">
                    @foreach (var tag in item)
                    {
                        <option value="@tag.Id">@tag.Name</option>
                    }
                </select>
            </div>
        </div>
    }
    else
    {
        <div class="form-group row p-3">
            <div class="col-4">
                <p>@item[0].TagCategoryName</p>
            </div>
            <div class="col-8">
                <select class="form-select" name="tags">
                    <option disabled selected>انتخاب @item[0].TagCategoryName</option>
                    @foreach (var tag in item)
                    {
                        <option value="@tag.Id">@tag.Name</option>
                    }
                </select>
            </div>
        </div>
    }
}
<script>
    $(".chosen-select").chosen({rtl: true}).chosen({
        no_results_text: "Oops, nothing found!" });
</script>