@model IEnumerable<ProductOutputViewModel>

<div class="container p-3">
    <div class="d-flex justify-content-between">
        <div>
            <h2 class="text-primary">لیست محصولات</h2>
        </div>
        <div>
            <a class="btn btn-success" asp-controller="Product" asp-action="Create">ایجاد</a>
        </div>
    </div>
    <br />
    <br />
    <hr />
    @if (Model.Count() > 0)
    {
            <table class="table table-bordered table-striped" style="width:100%">
                <thead>
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.Id)</th>
                        <th>@Html.DisplayNameFor(model => model.Name)</th>
                        <th>@Html.DisplayNameFor(model => model.Price)</th>
                        <th>@Html.DisplayNameFor(model => model.CategoryId)</th>
                        <th>@Html.DisplayNameFor(model => model.Weight)</th>
                        <th>@Html.DisplayNameFor(model => model.Description)</th>
                        <th>@Html.DisplayNameFor(model => model.Count)</th>
                        <th>@Html.DisplayNameFor(model => model.IsShowPrice)</th>
                        <th>@Html.DisplayNameFor(model => model.IsActive)</th>
                        <th>@Html.DisplayNameFor(model => model.IsDeleted)</th>
                        <th>عملیات</th>
                    </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                            <tr>
                                <td>@item.Id</td>
                                <td>@item.Name</td>
                                <td>@item.Price</td>
                                <td>@item.CategoryId</td>
                                <td>@item.Weight</td>
                                <td>@item.Description</td>
                                <td>@item.Count</td>
                                <td>@item.IsShowPrice</td>
                                <td>@item.IsActive</td>
                                <td>@item.IsDeleted</td>
                               
                                <td>
                                    <div class="btn-group" role="group" >
                                        <a asp-controller="Product" asp-action="Update" asp-route-Id="@item.Id" class="btn btn-primary m-1 p-1"><i class="fas fa-edit"></i>ویرایش</a>
                                        <a asp-controller="Product" asp-action="Delete" asp-route-Id="@item.Id" class="btn btn-danger m-1 p-1"><i class="far fa-trash-alt"></i>حذف</a>
                                    </div>
                                </td>

                            </tr>
                }
                </tbody>
            </table>
    }
    else
    {
            <h1>هنوز هیچ محصولی وارد سیستم نشده است</h1>
    }


</div>
