@model App.EndPoints.Mvc.ShopUI.Models.SearchItemViewModel

<div class="single-row-slider-tab-area section-space">
    <div class="container">           
        <div class="row">
            <div class="col-3">
                <div class="single-grid-product__image">
                    <a asp-controller="Search" asp-action="Details" asp-route-id="@Model.ProductId">
                        <img src="~/upload/@Model.ImageName" class="img-fluid" alt="">
                    </a>
                </div>                    
            </div>
            <div class="col-9">
                <div class="single-grid-product__content">
                    <div class="single-grid-product__category-rating">
                        <span class="category">
                            <a asp-controller="Search" asp-action="Details" asp-route-id="@Model.ProductId">@Model.ProductName</a></span>
                    </div>

                    <h3 class="single-grid-product__title"> 
                        <a asp-controller="Search" asp-action="Details" asp-route-id="@Model.ProductId">@Model.ProductDescription</a>
                    </h3>
                    <p class="single-grid-product__price">
                        <span class="main-price">@Model.ProductPrice</span>
                    </p>
                    <input type="submit" class="btn btn-success" value="اضافه نمودن به سبد خرید" />
                </div>
            </div>
        </div>
    </div>
</div>
