@model List<App.EndPoints.Mvc.ShopUI.Models.SearchItemViewModel>
@{
    Random random = new();
}
<div class="single-row-slider-tab-area section-space">
    <div class="container">           
        <div class="row">
            <div class="col-lg-12">

                <div class="row">
                    @foreach(var item in Model)
                    {
                        int i = random.Next(0,item.ImageName.Count);
                        <div class="single-grid-product col-3">
                            <div class="single-grid-product__image">
                                <a asp-controller="Search" asp-action="Details" asp-route-id="@item.ProductId">
                                    <img src="~/upload/@item.ImageName[i]" class="img-fluid" alt="">
                                </a>
                                @*<div class="hover-icons">
                                    <a href="javascript:void(0)"><i class="ion-bag"></i></a>
                                    <a href="javascript:void(0)"><i class="ion-heart"></i></a>
                                    <a href="javascript:void(0)"><i
                                            class="ion-android-options"></i></a>
                                    <a href="javascript:void(0)" data-toggle="modal"
                                        data-target="#quick-view-modal-container"><i
                                            class="ion-android-open"></i></a>
                                </div>*@
                            </div>
                            <div class="single-grid-product__content">
                                <div class="single-grid-product__category-rating">
                                    <span class="category">
                                        <a asp-controller="Search" asp-action="Details" asp-route-id="@item.ProductId">@item.ProductName</a></span>
                                </div>

                                <h3 class="single-grid-product__title"> 
                                    <a asp-controller="Search" asp-action="Details" asp-route-id="@item.ProductId">@item.ProductDescription</a>
                                </h3>
                                <p class="single-grid-product__price">
                                    <span class="main-price">@item.ProductPrice</span>
                                </p>
                            </div>
                        </div>
                    }

                        
                </div>
            </div>
        </div>
    </div>
</div>
