@using App.EndPoints.Mvc.AdminUI.Models.ViewModels.Product
@model List<CategoryOutputViewModel>
@{
	ViewData["Title"] = "لیست دسته بندی ‌ها";
	int rowCount = 1;
}

<h3 style="float:right;">لیست دسته بندی ‌ها</h3>
<div style="float:left;">
	<a class="btn btn-success" asp-controller="Category" asp-action="Create">
		جدید
	</a>
</div>

<br>

<table class="table table-striped">
	<thead>
		<tr>
			<th scope="col">#</th>
			<th scope="col">شناسه</th>
			<th scope="col">نام</th>
			<th scope="col">دسته بندی والد</th>
			<th scope="col">تاریخ ایجاد</th>
			<th scope="col">عملیات</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var category in Model)
		{
			<tr>
				<th scope="row">
					@rowCount
				</th>
				<td>@category.Id</td>
				<td>@category.Name</td>
				<td>@category.ParentCategoryId</td>
				<td>@category.CreationDate</td>
				<td>
					<a class="btn btn-primary" asp-controller="Category" asp-action="Update" asp-route-id=@category.Id>
						ویرایش
					</a>
					|
					<a class="btn btn-danger" asp-controller="Category" asp-action="Delete" asp-route-id="@category.Id">
						حذف
					</a>
				</td>
			</tr>
		}
	</tbody>
</table>