@model List<CategoryDto>


<div class="d-flex justify-content-between">
    <h1>دسته بندی ها</h1>
    <div class="d-inline-flex">
        <form asp-controller="Category" asp-action="Search" method="get" class="align-self-md-center mx-2">
            <input type="text" name="q" autocomplete="off" />
            <button type="submit" class="btn btn-secondary">جستجو</button>
        </form>
        <a class='btn btn-success align-self-md-center' asp-controller="Category" asp-action="Create">ایجاد</a>
    </div>
</div>

<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th scope="col">
                شناسه
            </th>
            <th scope="col">
                نام
            </th>
            <th scope="col">
                تاریخ ایجاد
            </th>
            <th scope="col">
                عملیات
            </th>
        </tr>
    </thead>
    <tbody>

        @foreach (var item in Model)
        {
                <tr>
                    <td scope="row">
                    @item.Id
                    </td>
                    <td>
                    @item.Name
                    </td>
                    <td>
                    @item.CreationDate
                    </td>
                    <td>
                        <a class="btn btn-secondary" asp-action="Update" asp-route-id="@item.Id">ویرایش</a>
                        <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">حذف</a>
                    </td>
                </tr>
        }
    </tbody>
</table>