@using App.Domain.Core.BaseData.Entities
@model List<App.EndPoints.Mvc.AdminUI.Models.ViewModels.Product.ColorOutputViewModel>

@{
    ViewData["Title"] = "لیست رنگ ها";
}
<div class="container">
    <div class="row">
        <div class="col-6">
            <h2>لیست رنگ ها</h2>
        </div>
        <div class="col-6 text-start">
            <a class="btn btn-success" asp-action="Create" asp-controller="Colors">افزودن رنگ</a>
        </div>
    </div>
    @if (Model.Count > 0)
    {
        <table class="table table-primary">
            <thead>
            <tr>
                <th>شناسه</th>
                <th>نام</th>
                <th>رنگ</th>
                <th>عملیات</th>
            </tr>
            </thead>
            <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Id</td>
                    <td>@item.Name</td>
                    <td style="background: @item.ColorCode;"></td>
                    <td>
                        <a type="button" class="btn btn-primary" asp-action="Details" asp-controller="Colors" asp-route-id="@item.Id">مشاهده جزيیات</a>
                        <a type="button" class="btn btn-warning" asp-action="Update" asp-controller="Colors" asp-route-id="@item.Id">ویرایش</a>
                        <a type="button" class="btn btn-danger" asp-action="Delete" asp-controller="Colors" asp-route-id="@item.Id">حذف</a>
                    </td>
                </tr>
            }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-warning text-center" role="alert">
            <h3 class="alert-heading">رکوردی وجود ندارد!</h3>
            <p>شما می توانید با فشردن کلید ثبت رکورد جدیدی در دیتابیس ایجاد کنید</p>
            <hr>
            <p class="mb-0">با تشکر</p>
        </div>

    }

</div>